{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if user %}
    <h1>{{ user.username }}'s profile page. Welcome!</h1>

    <p>
        <b>{{ user.username }}</b> has been a member since {{ user.date_created }}!!!
    </p>

    <center><h2>{{ user.username }}'s polls</h2></center>

    {% for poll in polls %}
    <h3><a href="/poll/{{ poll.id }}">{{ poll.question }}</a></h3>
    <h4>started by <a href="/profile/{{ poll.user.username }}">{{ poll.user.username }}</a></h4>

    <p>
        {{ poll.response_yes }} users responded with <b>Yes</b>
        <br>
        {{ poll.response_no }} users responded with <b>No</b>
        <br>
        <br>
        This poll was started at {{ poll.date_created }}
    </p>
    <hr>
    {% endfor %}

    {% else %}
    <h2>That user does not exist.</h2>
    {% endif %}
{% endblock %}
